@import "tailwindcss";

@config "../tailwind.config.ts";

@theme {
  --px-to-rem: calc(1rem / 16);
  --spacing: var(--px-to-rem);

  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
}

@utility text-* {
	font-size: calc(--value(integer) * var(--px-to-rem));
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  column-gap: 24px;
  padding-left: 24px;
}

.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
  border-radius: 12px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 30%;
    min-width: 0;
  }
}

.youtube-video-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  padding: 0 24px;
  row-gap: 30px;
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
  .youtube-video-container {
    flex-direction: row;
    column-gap: 30px;
  }

  .youtube-video-container > .video {
    width: 50%;
    margin: 0 !important;
  }
}

::selection {
  /* background: ${t.accentSoft}; */
  /* color: ${t.text}; */
}

:focus-visible {
  /* outline: 2px solid ${t.accent}; */
  outline-offset: 2px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  } 
  .mobile-nav {
    display: flex !important;
  } 
}
@media (min-width: 769px) {
  .mobile-dropdown {
    display: none !important;
  }
}